# This is an initial data exploration

- contains no super important information

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
pd.options.display.max_rows = 2000
from keras.preprocessing.image import ImageDataGenerator

# All images will be rescaled by 1./255
train_datagen = ImageDataGenerator(rescale=1./255)

In [2]:
# %matplotlib inline
# img = mpimg.imread('capstone/thyroid/1_1.jpg')
# plt.figure(figsize=(10, 10))
# imgplot = plt.imshow(img)
# imgplot.axes.axis('on')
# ax = plt.gca()
# ax.grid(color='w')

# plt.show()

In [3]:
case_df = pd.read_csv('./data/thyroidCSV/cases.csv')
coord_df = pd.read_csv('./data/thyroidCSV/coors.csv')
img_df = pd.read_csv('./data/thyroidCSV/images.csv')

In [5]:
case_df.head(5)

case_df.tirads.unique()

array(['5', '4c', '4a', '4b', '3', '2', nan], dtype=object)

In [5]:
coord_df.head(5)

   id  image_id    x    y    w    h
0   1         1  385   91   68   98
1   2         2  271   72  100  143
2   3         3  292  101   79   56
3   4         4  258   95   69   53
4   5         5  235   71  104  138

In [6]:
len(img_df)

618

In [13]:
case_df.groupby('tirads').count()

,id,num,cancer,age,sex,composition,echogenicity,margins,calcification,reportbacaf,reporteco
tirads,,,,,,,,,,,
2,60,60,0,60,60,37,38,58,0,0,9
3,25,25,0,25,25,14,14,25,0,0,5
4a,105,105,0,105,104,85,85,105,0,0,7
4b,90,90,0,90,90,74,74,89,0,0,3
4c,75,75,0,75,75,56,56,75,0,0,0
5,41,41,0,41,41,30,30,41,0,0,4

In [7]:
dfs = [case_df, coord_df, img_df]

# define summary function
def summary(data):
    name =[x for x in globals() if globals()[x] is data][0]
    print("Dataframe Name is: %s" % name)
    print(data.describe())
    
# Loop through dfs to print summary values
for df in dfs:
    summary(df)
    print ('*'*50)

Dataframe Name is: case_df
               id         num  cancer         age  calcification  reportbacaf
count  488.000000  488.000000     0.0  402.000000            0.0          0.0
mean   244.500000  278.297131     NaN   54.164179            NaN          NaN
std    141.017729  190.434756     NaN   15.873657            NaN          NaN
min      1.000000    1.000000     NaN   14.000000            NaN          NaN
25%    122.750000  123.750000     NaN   43.250000            NaN          NaN
50%    244.500000  247.500000     NaN   55.000000            NaN          NaN
75%    366.250000  374.250000     NaN   65.000000            NaN          NaN
max    488.000000  648.000000     NaN   91.000000            NaN          NaN
**************************************************
Dataframe Name is: coord_df
               id    image_id           x           y           w           h
count  779.000000  779.000000  779.000000  779.000000  779.000000  779.000000
mean   390.000000  313.034660  221.553273   78.652118  140.228498  108.061617
std    225.022221  171.633607   91.724737   33.921365   63.895473   45.561804
min      1.000000    1.000000   34.000000   18.000000   30.000000   27.000000
25%    195.500000  174.000000  147.000000   52.000000   88.000000   73.000000
50%    390.000000  308.000000  220.000000   75.000000  128.000000   99.000000
75%    584.500000  454.500000  277.000000  100.000000  183.000000  139.000000
max    779.000000  619.000000  479.000000  323.000000  344.000000  261.000000
**************************************************
Dataframe Name is: img_df
               id     case_id
count  618.000000  618.000000
mean   310.150485  239.360841
std    178.939823  148.639789
min      1.000000    1.000000
25%    155.250000  111.250000
50%    310.500000  239.000000
75%    464.750000  369.750000
max    619.000000  488.000000
**************************************************

In [8]:
# Missingness

for df in dfs:
    name =[x for x in globals() if globals()[x] is df][0]
    print (df.isnull().sum())
    print ('*' * 50)

id                 0
num                0
cancer           488
age               86
sex               85
composition      191
echogenicity     190
margins           94
calcification    488
tirads            92
reportbacaf      488
reporteco        460
dtype: int64
**************************************************
id          0
image_id    0
x           0
y           0
w           0
h           0
dtype: int64
**************************************************
id          0
case_id     0
filename    0
mark        8
dtype: int64
**************************************************