In [1]:
import random
import pandas as pd
import numpy as np
import sklearn
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
from keras.preprocessing.image import ImageDataGenerator
from PIL import Image
import requests
from io import BytesIO
from scipy import stats
from sklearn import preprocessing
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import tensorflow as tf
import math

Using TensorFlow backend.

In [2]:
case_path = './data/thyroidCSV/cases.csv'
coord_path = './data/thyroidCSV/coors.csv'
img_path = './data/thyroidCSV/images.csv'

case_df = pd.read_csv(case_path)
coord_df = pd.read_csv(coord_path)
img_df = pd.read_csv(img_path)

In [3]:
# check img sizes
all_img_path = './data/all_images_by_coord_id/'

img_ids = ['img_'+str(num) for num in range(1, len(coord_df)+1)]

In [4]:
imgs = [Image.open(all_img_path+im_id) for im_id in img_ids]

sizes = [x.size for x in imgs]

In [5]:
set(sizes)

{(560, 315), (560, 360)}

In [6]:
files = img_df['filename'].values
filenames = ['./data/'+ x for x in files]

In [7]:
img_df['filename'] = filenames

In [8]:
img_df.head(3)

,id,case_id,filename,mark
0,1,1,./data/cimalab/bening/545/1.jpg,"[{""points"": [{""x"": 413, ""y"": 91}, {""x"": 406, ""..."
1,2,1,./data/cimalab/bening/545/2.jpg,"[{""points"": [{""x"": 291, ""y"": 76}, {""x"": 281, ""..."
2,3,5,./data/cimalab/bening/549/1.jpg,"[{""points"": [{""x"": 292, ""y"": 123}, {""x"": 293, ..."

In [9]:
case_df.head(3)

,id,num,cancer,age,sex,composition,echogenicity,margins,calcification,tirads,reportbacaf,reporteco
0,1,545,NaN,72.0,F,solid,marked hypoechogenecity,ill- defined,NaN,5,NaN,NaN
1,2,546,NaN,63.0,F,solid,isoechogenicity,microlobulated,NaN,4c,NaN,NaN
2,3,547,NaN,61.0,F,spongiform appareance,hypoechogenecity,well defined smooth,NaN,4a,NaN,NaN

In [10]:
coord_df['img_file'] = [img_df[img_df['id'] == n]['filename'].values[0] for n in coord_df['image_id']]

In [11]:
coord_df.head(3)

   id  image_id    x    y    w    h                         img_file
0   1         1  385   91   68   98  ./data/cimalab/bening/545/1.jpg
1   2         2  271   72  100  143  ./data/cimalab/bening/545/2.jpg
2   3         3  292  101   79   56  ./data/cimalab/bening/549/1.jpg

In [12]:
img_df.head(3)

,id,case_id,filename,mark
0,1,1,./data/cimalab/bening/545/1.jpg,"[{""points"": [{""x"": 413, ""y"": 91}, {""x"": 406, ""..."
1,2,1,./data/cimalab/bening/545/2.jpg,"[{""points"": [{""x"": 291, ""y"": 76}, {""x"": 281, ""..."
2,3,5,./data/cimalab/bening/549/1.jpg,"[{""points"": [{""x"": 292, ""y"": 123}, {""x"": 293, ..."

In [28]:
random.seed(5)
train, validate, test = np.split(new_df.sample(frac=1), [int(.8*len(new_df)), int(.9*len(new_df))])

In [52]:
train.head(5)
num_list = train.image_id.values

      id  image_id    x    y    w   h                          img_file
695  696       558  405   98  111  64   ./data/cimalab/thyroid/62_1.jpg
110  111       111  254  145   79  67   ./data/cimalab/maling/571/1.jpg
122  123       122  237  132   59  37   ./data/cimalab/maling/612/1.jpg
231  232       197  270   93   78  43  ./data/cimalab/thyroid/143_1.jpg
722  723       578  127   78   90  45   ./data/cimalab/thyroid/74_1.jpg

In [60]:
for num in num_list:
    df = train[train.image_id == num]
    img = Image.open(df.img_file.values[0])
    img.save('./data/TRAIN/img_'+str(num), 'JPEG')

In [62]:
num_list = validate.image_id.values
for num in num_list:
    df = validate[validate.image_id == num]
    img = Image.open(df.img_file.values[0])
    img.save('./data/VALIDATION/img_'+str(num), 'JPEG')

In [63]:
num_list = test.image_id.values
for num in num_list:
    df = test[test.image_id == num]
    img = Image.open(df.img_file.values[0])
    img.save('./data/TEST/img_'+str(num), 'JPEG')